@charset "utf-8";

main{
    padding-top: 100px;
}

section{
    padding-top: 150px;
    margin-top: -150px;
}

section h2{
    margin-top: 25px;
    font-size: 30pt;
}

section h2,  section p{
    padding: 10px 0px;
}

section h2, section h3, section p{
    width: 100%;
}

section img{
    width: 45%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 10px 0px;
}

footer{
    margin-top: 150px;
}
